<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">findajob</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole("Employer"))
        {
            <MudNavLink Href="/EmployerDashboard" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Info">
                DASHBOARD
            </MudNavLink>
        }
        else if (context.User.IsInRole("Admin"))
        {
            <MudNavLink Href="/ManageJobs" Icon="@Icons.Material.Filled.AdminPanelSettings" IconColor="Color.Warning">
                ADMIN_TERMINAL
            </MudNavLink>
        }
    </Authorized>
</AuthorizeView>
